@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* --main: #ff7a7a; */
:root {
    --main: #00FA9A;
    --green: #00FF7F;
    --text: #222;
    --border: #ccc;
    --background: #f1f1f1;
    --white: white;   
}

.foodbot {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background);
    color: var(--text);
}

.foodbot * {
    transition: all 250ms ease-out;
}

.foodbot *:focus {
    outline: none;
}

.foodbot .head {
    padding: .2% 1%;
    width: 98%;
    box-shadow: 0px 0px 4px #444;
    position: fixed;
    background: var(--main);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
}

.foodbot .head .avatar {
    width: 90px;
}

.foodbot .head .title {
    color: var(--white);
    font-weight: bold;
    font-size: 22px;
    margin-left: 8px;
}

.foodbot .head .title label {
    font-size: 16px;
}

.foodbot .head .total {
    position: fixed;
    right: 95px;
    top: 20px;
    color: var(--white);
    font-size: 26px;
    font-weight: bold;
    line-height: 22px;
    text-align: right;

}

.foodbot .head .total span {
    font-size: 11px;

}

.foodbot .head .total label {
    font-size: 14px;
}

.foodbot .head .cart {
    position: fixed;
    right: 26px;
    top: 20px;
    color: var(--white);
    font-weight: bold;
    font-size: 22px;
    background-image: url('img/cart.svg');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center -4px;
    width: 60px;
    text-align: center;
    line-height: 56px;
    padding-top: 5px;
    cursor: pointer;
}

.foodbot .head .cart:hover {
    color: var(--green);
    font-size: 26px;
}

.foodbot .chat {
    padding: 2%;
    width: 96%;
    background: var(--background);
    overflow: auto;
    position: absolute;
    top: 80px;
    bottom: 100px;
}

.foodbot .chat .msg {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 17px;
    word-wrap: break-word;
    clear: both;
    max-width: 50%;
}

.foodbot .chat .left {
    background: var(--main);
    float: left;
    box-shadow: 1px 2px 3px #444;
}

.foodbot .chat .right {
    background: var(--white);
    float: right;
    box-shadow: -1px -1px 3px #444;
}

/* 
.foodbot .chat .right:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--main);
} */

.foodbot .chat .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 22px;
}

.foodbot .chat .product {
    background: white;
    color: var(--text);
    padding: 10px;
    border-radius: 8px;
    width: 220px;
    border-radius: 10px;
    margin: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foodbot .chat .product .qtd {
    border: none;
    background: var(--background);
    width: 50px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    font-size: 24px;
    margin-left: 168px;
    margin-top: -2px;
    font-weight: bold;
    box-shadow: 1px 1px 2px #555;
    z-index: 66;
}
.foodbot .chat .product .qtd:hover {
    background: var(--green);
    cursor: pointer;

}
.foodbot .chat .product img {
    width: 100%;
    border-radius: 8px;
    margin-top: -36px;
}

.foodbot .chat .product .name {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 12px 4px;
    margin-bottom: 8px;

}

.foodbot .chat .product .desc {
    text-align: center;
}

.foodbot .chat .product .price {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 4px 0;
    color: var(--green);
    line-height: 22px;
    margin-top: 14px;
}

.foodbot .chat .product .price span {
    font-size: 14px;
}

.foodbot .footer {
    box-shadow: 0px 0px 4px #444;
    background: var(--white);
    width: 100%;
    position: fixed;
    bottom: 0;
    min-height: 64px;
    z-index: 98;
}

.foodbot .footer .text {
    flex-direction: row;
    display: flex;
    align-content: center;
    padding: 16px;
}

.foodbot .footer .input {
    flex: 1;
    border: none;
    font-size: 22px;
    color: var(--text);
    background: var(--white);
}

.foodbot .footer .send {
    width: 42px;
    cursor: pointer;
}

.foodbot .footer .send:hover {
    width: 50px;
}

.foodbot .buttons {
    display: flex;
    flex-direction: row;    
}

.foodbot .button {  
    background: var(--white);
    color: var(--text);
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 21px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foodbot .button:hover {
    font-size: 21px;
    background: var(--green);
 
}

.foodbot .button img {
    margin-bottom: 5px;
    margin-right: 8px;
}